In [73]:
import pandas as pd

# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - all adults transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue percentage
0     15/01/2013  Health        28%
1     29/01/2013  Health        26%
2     12/02/2013  Health        36%
3     26/02/2013  Health        32%
4     05/03/2013  Health        32%
...          ...     ...        ...
2305  11/10/2017    Base       1680
2306  28/11/2017    Base       1575
2307  12/12/2017    Base       1682
2308  20/12/2017    Base       1610
2309  21/12/2017    Base       1625

[2310 rows x 3 columns]

In [74]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGovAll.csv', index=False)

In [75]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - Male Transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue  percentage
0     15/02/2011  Health        27.0
1     01/03/2011  Health        24.0
2     15/03/2011  Health        26.0
3     29/03/2011  Health        25.0
4     12/04/2011  Health        33.0
...          ...     ...         ...
9802  22/04/2024    Base         NaN
9803  28/04/2024    Base         NaN
9804  06/05/2024    Base         NaN
9805  13/05/2024    Base         NaN
9806  20/05/2024    Base         NaN

[9807 rows x 3 columns]

In [76]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGovMale.csv', index=False)

In [77]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - Female transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue  percentage
0     15/02/2011  Health        35.0
1     01/03/2011  Health        33.0
2     15/03/2011  Health        31.0
3     29/03/2011  Health        30.0
4     12/04/2011  Health        41.0
...          ...     ...         ...
9802  22/04/2024    Base         NaN
9803  28/04/2024    Base         NaN
9804  06/05/2024    Base         NaN
9805  13/05/2024    Base         NaN
9806  20/05/2024    Base         NaN

[9807 rows x 3 columns]

In [78]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGovFemale.csv', index=False)

In [79]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov18-24 transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

                            Date       issue  percentage
0                         Health  15/02/2011        22.0
1           Immigration & Asylum  15/02/2011        39.0
2                          Crime  15/02/2011        20.0
3                    The economy  15/02/2011        71.0
4                            Tax  15/02/2011        27.0
...                          ...         ...         ...
9802                 Afghanistan  20/05/2024         0.0
9803       Defence and Terrorism  20/05/2024         0.0
9804  Don't know / None of these  20/05/2024         0.0
9805             Unweighted base  20/05/2024       178.0
9806                        Base  20/05/2024       193.0

[9807 rows x 3 columns]

In [80]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGov18_24.csv', index=False)

In [81]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - 25 - 49 Transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue  percentage
0     15/02/2011  Health        26.0
1     01/03/2011  Health        25.0
2     15/03/2011  Health        26.0
3     29/03/2011  Health        23.0
4     12/04/2011  Health        31.0
...          ...     ...         ...
9802  22/04/2024    Base         NaN
9803  28/04/2024    Base         NaN
9804  06/05/2024    Base         NaN
9805  13/05/2024    Base         NaN
9806  20/05/2024    Base         NaN

[9807 rows x 3 columns]

In [82]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGov25_49.csv', index=False)

In [83]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - 50 - 64 Transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue  percentage
0     15/02/2011  Health        35.0
1     01/03/2011  Health        35.0
2     15/03/2011  Health        30.0
3     29/03/2011  Health        33.0
4     12/04/2011  Health        43.0
...          ...     ...         ...
9802  22/04/2024    Base         NaN
9803  28/04/2024    Base         NaN
9804  06/05/2024    Base         NaN
9805  13/05/2024    Base         NaN
9806  20/05/2024    Base         NaN

[9807 rows x 3 columns]

In [84]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGov50_64.csv', index=False)

In [85]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - 65+ Transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue  percentage
0     15/02/2011  Health        44.0
1     01/03/2011  Health        27.0
2     15/03/2011  Health        40.0
3     29/03/2011  Health        36.0
4     12/04/2011  Health        45.0
...          ...     ...         ...
9802  22/04/2024    Base         NaN
9803  28/04/2024    Base         NaN
9804  06/05/2024    Base         NaN
9805  13/05/2024    Base         NaN
9806  20/05/2024    Base         NaN

[9807 rows x 3 columns]

In [86]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGov65+.csv', index=False)

In [87]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - Conservative Transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue  percentage
0     15/02/2011  Health        24.0
1     01/03/2011  Health        24.0
2     15/03/2011  Health        20.0
3     29/03/2011  Health        18.0
4     12/04/2011  Health        29.0
...          ...     ...         ...
9802  22/04/2024    Base         NaN
9803  28/04/2024    Base         NaN
9804  06/05/2024    Base         NaN
9805  13/05/2024    Base         NaN
9806  20/05/2024    Base         NaN

[9807 rows x 3 columns]

In [88]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGovConservative.csv', index=False)

In [89]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - Labour Transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue  percentage
0     15/02/2011  Health        41.0
1     01/03/2011  Health        36.0
2     15/03/2011  Health        42.0
3     29/03/2011  Health        36.0
4     12/04/2011  Health        47.0
...          ...     ...         ...
9802  22/04/2024    Base         NaN
9803  28/04/2024    Base         NaN
9804  06/05/2024    Base         NaN
9805  13/05/2024    Base         NaN
9806  20/05/2024    Base         NaN

[9807 rows x 3 columns]

In [90]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGovLabour.csv', index=False)

In [91]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - LibDems Transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue  percentage
0     15/02/2011  Health        36.0
1     01/03/2011  Health        32.0
2     15/03/2011  Health        31.0
3     29/03/2011  Health        31.0
4     12/04/2011  Health        40.0
...          ...     ...         ...
9802  22/04/2024    Base         NaN
9803  28/04/2024    Base         NaN
9804  06/05/2024    Base         NaN
9805  13/05/2024    Base         NaN
9806  20/05/2024    Base         NaN

[9807 rows x 3 columns]

In [92]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGovLibDem.csv', index=False)

In [93]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - Leave Transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue  percentage
0     26/07/2016  Health        36.0
1     02/08/2016  Health        34.0
2     09/08/2016  Health        36.0
3     17/08/2016  Health        35.0
4     23/08/2016  Health        37.0
...          ...     ...         ...
7261  22/04/2024    Base         NaN
7262  28/04/2024    Base         NaN
7263  06/05/2024    Base         NaN
7264  13/05/2024    Base         NaN
7265  20/05/2024    Base         NaN

[7266 rows x 3 columns]

In [94]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGovLeave.csv', index=False)

In [95]:
# Define the file path for the new CSV file
file_path = r'C:\Users\alee\Desktop\YouGov - Remain Transposed.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Melt the DataFrame to have three columns: date, issue, and percentage
df_melted = df.melt(id_vars=['Date'], var_name='issue', value_name='percentage')

# Remove the percentage sign from the 'percentage' column
df_melted['percentage'] = df_melted['percentage'].str.rstrip('%').astype(float)

# Print the first few rows of the melted DataFrame
display(df_melted)

            Date   issue  percentage
0     26/07/2016  Health        26.0
1     02/08/2016  Health        27.0
2     09/08/2016  Health        27.0
3     17/08/2016  Health        28.0
4     23/08/2016  Health        31.0
...          ...     ...         ...
7261  22/04/2024    Base         NaN
7262  28/04/2024    Base         NaN
7263  06/05/2024    Base         NaN
7264  13/05/2024    Base         NaN
7265  20/05/2024    Base         NaN

[7266 rows x 3 columns]

In [96]:
# Export the melted DataFrame as a CSV file

df_melted.to_csv(r'C:\Users\alee\Desktop\melted_dataYouGovRemain.csv', index=False)